.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 0.875rem;
  margin-top: 1rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  padding: 0.25rem 0.5rem; 
}

.link:hover {
  color: #f39c12;
}


@media (min-width: 320px) and (max-width: 426px) {
  .footer {
    padding: 1rem;
  }

  .text {
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .links {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .link {
    font-size: 0.875rem;
  }
}