.hero-bg {
  background-image: url("/images/hero-image-large.webp");
  background-size: cover; /* A imagem cobre toda a área nas telas grandes */
  background-position: center center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

@media (max-width: 1024px) {
  .hero-bg {
    background-image: url("/images/hero-image-medium.webp");
    background-size: cover; /* A imagem cobre toda a área nas telas médias */
    background-position: center right; /* Centraliza a imagem para evitar corte indesejado */
  }
}

@media (max-width: 640px) {
  .hero-bg {
    background-image: url("/images/hero-image-thumbnail.webp");
    background-size: cover; 
    background-position: center; /* Garante que o conteúdo principal da imagem não seja cortado */
  }
}